<ul class="dialpad">
    <li>
        <button tabindex="-1" ng-click="dtmf('1')" class="btn circle-btn icon dialpad-btn" number="1">
            1
        </button>
        <button ng-click="dtmf('2')" class="btn circle-btn icon dialpad-btn" number="2">2</button>
        <button ng-click="dtmf('3')" class="btn circle-btn icon dialpad-btn" number="3">3</button>
    </li>

    <li>
        <button ng-click="dtmf('4')" class="btn circle-btn icon dialpad-btn" number="4">4</button>
        <button ng-click="dtmf('5')" class="btn circle-btn icon dialpad-btn" number="5">5</button>
        <button ng-click="dtmf('6')" class="btn circle-btn icon dialpad-btn" number="6">6</button>
    </li>

    <li>
        <button ng-click="dtmf('7')" class="btn circle-btn icon dialpad-btn" number="7">7</button>
        <button ng-click="dtmf('8')" class="btn circle-btn icon dialpad-btn" number="8">8</button>
        <button ng-click="dtmf('9')" class="btn circle-btn icon dialpad-btn" number="9">9</button>
    </li>

    <li>
        <button ng-click="dtmf('*')" class="btn circle-btn icon dialpad-btn" number="*">*</button>
        <button ng-click="dtmf('0')" class="btn circle-btn icon dialpad-btn" number="0">0</button>
        <button ng-click="dtmf('#')" class="btn circle-btn icon dialpad-btn" number="#">#</button>
    </li>


</ul>