<div class="content bg-default" ng-controller="dialpadCtrl" id="dialpad">
	<div class="dialpad-form">

		<div class="card no-border dialpad-input bg-default">
			<a ng-click="changeState('contacts', true, {number: number})" class="color-default icon ion-ios-plus-outline pull-left input-number-btn"></a>
			<a ng-click="delLastNumber()" class="color-default icon ion-backspace-outline pull-right input-number-btn"></a>
			<input ng-keyup="$event.keyCode == 13 && makeCall()" type="text" ng-model="number" class="input-number" placeholder="SIP uri">
		</div>

		<div  ng-include=" 'app/view/dialpadTemplate.html' ">

		</div>
	</div>

	<ul class="dialpad call-group">
	    <li>
	        <button ng-disabled="execMakeCall" ng-click="makeCall()" class="btn circle-btn icon ion-ios-telephone call make-call"></button>

			<button ng-if="useVideo" ng-disabled="execMakeCall" ng-click="makeCall(true)" class="btn circle-btn icon ion-ios-videocam call make-call-video"></button>
	    </li>
	</ul>
</div>