<!DOCTYPE html>
<html >
    <head>
        <title>Video</title>
        <link rel="stylesheet" type="text/css" href="../../css/video.css">
    </head>
    <body ng-app="videoCall" >

            <nav id="menu" role="navigation">
                <div class="list-group">
                    <ul>
                        <li class___="active" ng-repeat="m in members">
                            <div class="picture"><img src="{{m.email.avatar}}"/>
                                <!--ERROR fa fa ????-->
                                <div class="badge green"><i class="fa fa-check"></i></div>
                            </div>
                            <div class="content">
                                <div class="title">{{m.name}}</div>
                                <div class="description">
                                    <div class="location"><i class="fa fa-map-marker"></i>
                                        <span>{{m.email.email}}</span>
                                    </div>
                                    <div class="tags">
                                        <div class="tag orange">System administrator</div>
                                        <!--.tag.blue Clerk-->
                                        <div class="tag green">Online</div>
                                        <!--.tag.red Inactive-->
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="info left"><i class="fa fa-clock-o"></i><span>Last login: online</span></div>
                                <div class="info right"><i class="fa fa-calendar"></i><span>Added 3 days ago</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="page-wrap">
                <div class="video-menu">
                    <button id="menu-toggle"></button>
                </div>
                <div class="container" role="main">
                    <video></video>
                </div>
        </div>

        <script type="text/javascript" src="../../lib/angular.min.js"></script>
        <script type="text/javascript" src="../ctrl/video2.js"></script>
    </body>
</html>