<!DOCTYPE html>
<html >
    <head>
        <title>Video</title>
        <link rel="stylesheet" type="text/css" href="../../css/video.css">
    </head>
    <body ng-app="videoCall" >

            <nav id="menu" role="navigation">           
                <ul>
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>


            </nav>
            <div class="page-wrap">
                <div class="video-menu">
                    <button id="menu-toggle"></button>
                </div>
                <div class="container" role="main">
                    <video></video>
                </div>
        </div>

        <script type="text/javascript" src="../../lib/angular.min.js"></script>
        <script type="text/javascript" src="../ctrl/video2.js"></script>
    </body>
</html>