html, body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;/*
	width: 230px;
	height: 400px;*/	
}

#phone .no-border {
    border: 0;
}

#phone form {
    /*margin: 10px;*/
}

#phone .content a {
    color: rgba(17, 26, 35, 0.69)
}

#phone .dialpad-form .dialpad-input {
    margin-bottom: 0;
    margin-top: 0;
}

#phone .dialpad-form .dialpad-input a {
    font-size: 18px;
    margin-top: 4px;
}

#phone .call {
    text-align: center;
    font-size: 28px;
}

#phone .bg-default {
    background-color: rgba(247, 247, 247, .98);
}

#phone .call.make-call {
    color: #fff;
    background-color: #4cd964;
}

#phone .call.hangup-call {
    color: #fff;
    background-color: #cf2d28;
    /* Safari */
    -webkit-transform: rotate(134deg);

    /* Firefox */
    -moz-transform: rotate(134deg);

    /* IE */
    -ms-transform: rotate(134deg);

    /* Opera */
    -o-transform: rotate(134deg);

}

#phone ul>li>a:not(:first-child) {
    margin-left: 10px;
}

#phone li {
    list-style: none;
}

#phone .dialpad > li {
    width: 100%;
    text-align: center;
}

#phone #dialpad .call-btn-group {
    padding: 0;
    display: table;
    margin: 0 auto;
}

#phone #dialpad form {
    height: 279px;
}

.content .input-number {
	width: 79%;
    background-color: transparent;
    border: 0;
    text-align: center;
}

.content .input-number-btn {
	padding-top: 7px;
}
.circle-btn {
	width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #d0d0d0;
    border-radius: 25px;
}

.bg-success {
    background-color: #4cd964;
    color: #fff;
}

.bg-danger {
    background-color: #daa05d;
}

.dialpad {
    margin: 0 auto;
    padding: 0;
}

.content {
  background-color: #fff;
}