<div class="content bg-default" ng-controller="callCtrl">

    <div class="card card-call-info no-border bg-default" style="height: 55px; margin: 0;">
        <div style="text-align: center;" >
            <p>{{activeCall.calleeIdNumber}}</p>
            <p ui-timer start="activeCall.onActiveTime"></p>
        </div>
    </div>

    <div class="card no-border bg-default card-call" >
        <ul ng-if="!activeCall.menuName" class="dialpad">
            <li>
                <button ng-click="toggleMute(activeCall.id)" class="btn circle-btn icon" ng-class="{'active': activeCall.mute}">
                    <span ng-show="!activeCall.mute" class="icon ion-ios-mic-off"></span>
                    <span ng-show="activeCall.mute" class="icon ion-ios-mic"></span>
                </button>
                <button ng-click="openMenu(activeCall.id, 'dialpad')" class="btn circle-btn icon">
                    <span  class="icon ion-ios-keypad"></span>
                </button>
                <button ng-disabled="activeCall.state != 'active' && activeCall.state != 'held'" ng-click="openMenu(activeCall.id, 'transfer')" class="btn circle-btn icon">
                    <span class="icon ion-ios-redo"></span>
                </button>
            </li>

            <li>
                <button ng-disabled="true" class="btn circle-btn icon">
                    <span class="ion-ios-plus-empty"></span>
                </button>

                <!--TODO: Chat not working-->
                <button ng-disabled="!activeCall.useVideo && !activeCall.initRemoteStream" ng-click="openVideo(activeCall)" class="btn circle-btn icon">
                    <span class="ion-ios-videocam"></span>
                </button>

                <button ng-disabled="activeCall.state != 'active' && activeCall.state != 'held'" ng-click="toggleHold(activeCall.id)" class="btn circle-btn icon" ng-class="{'active': activeCall.state == 'held'}">
                    <span class="ion-ios-pause"></span>
                </button>
            </li>

            <li>
                <div ui-video-call call-id="activeCall.id" video-on="activeCall.initRemoteStream"></div>
                <!-- <video id="{{activeCall.id}}"></video> -->
            </li>
        </ul>

        <div ng-if="activeCall.menuName == 'transfer'" style="text-align: center; padding: 5px;">
            <input autofocus ng-keyup="$event.keyCode == 13 && transfer(activeCall.id, destinationNumber)" type="text" ng-model="destinationNumber">
            <button ng-click="transfer(activeCall.id, destinationNumber)" class="btn circle-btn icon">
                <span class="ion-ios-redo-outline"></span>
            </button>
        </div>

        <div ng-if="activeCall.menuName == 'dialpad'"  ng-include=" 'app/view/dialpadTemplate.html' ">
        </div>

        <!--<div ng-if="activeCall.menuName == 'chat'" class="chat-call" ng-include=" 'app/view/chatTemplate.html' ">-->

        <!--</div>-->
    </div>

    <div class="card card-call-footer no-border bg-default" style="margin-bottom: 0">
        <ul class="dialpad call-group">
            <li>
                <button  ng-click="dropCall(activeCall.id)" class="btn circle-btn icon ion-ios-telephone hangup-call">

                </button>
                <button ng-click="answerCall(activeCall.id)"  class="btn circle-btn icon ion-ios-telephone call make-call" ng-if="activeCall.state == 'newCall' && activeCall.direction.name == 'inbound'">

                </button>
                <button ng-click="answerCall(activeCall.id, true)"  class="btn circle-btn icon ion-ios-videocam call make-call-video" ng-if="activeCall.state == 'newCall' && activeCall.direction.name == 'inbound'">

                </button>
            </li>
        </ul>
        <a class="card-call-btn-close" ng-click="openMenu(activeCall.id, '')" ng-if="activeCall.menuName">Close</a>
    </div>

</div>