<div class="chat" ng-controller="chatPageCtrl">
    <div class="chat-data">

        <section>
            <div class="from-me">
                <p>Hey there! What's up?</p>
            </div>
            <div class="clear"></div>
            <div class="from-them">
                <p>Checking out iOS7 you know..</p>
            </div>
            <div class="clear"></div>
            <div class="from-me">
                <p>Check out this bubble!</p>
            </div>
            <div class="clear"></div>
            <div class="from-them">
                <p>It's pretty cool!</p>
            </div>
            <div class="clear"></div>
            <div class="from-me">
                <p>Yeah it's pure CSS &amp; HTML</p>
            </div>
            <div class="clear"></div>
            <div class="from-them">
                <p>Wow that's impressive. But what's even more impressive is that this bubble is really high.</p>
            </div>
        </section>

    </div>

    <div class="bar bar-standard bar-footer-secondary chat-action">
        <input type="text">
    </div>

</div>