<div class="content" ng-controller="contactsCtrl">
  <div class="bar bar-standard bar-header-secondary">
    <div class="form-group">
      <input ng-model="search" type="search" placeholder="Search">
      <a ng-click="changeState('contacts', true, {number: ''})" class="color-default icon icon-compose pull-right"></a>
    </div>
  </div>

  <ul class="table-view tab-content">
    <li  ng-repeat="c in data" class="table-view-cell">
      <div class="media-body " style="width:100%;">
        <button ng-click="changeState('contacts', true, c)" class="btn btn-link  media-object pull-left" style="text-align: left; width: 100%; color: #929292">
          {{c.name}}
        </button>
      </div>

    </li>
  </ul>
</div>