<ul class="dialpad">
    <li>
        <a ng-click="dtmf('1')" class="circle-btn icon dialpad-btn" number="1">
            1
        </a>
        <a ng-click="dtmf('2')" class="circle-btn icon dialpad-btn" number="2">2</a>
        <a ng-click="dtmf('3')" class="circle-btn icon dialpad-btn" number="3">3</a>
    </li>

    <li>
        <a ng-click="dtmf('4')" class="circle-btn icon dialpad-btn" number="4">4</a>
        <a ng-click="dtmf('5')" class="circle-btn icon dialpad-btn" number="5">5</a>
        <a ng-click="dtmf('6')" class="circle-btn icon dialpad-btn" number="6">6</a>
    </li>

    <li>
        <a ng-click="dtmf('7')" class="circle-btn icon dialpad-btn" number="7">7</a>
        <a ng-click="dtmf('8')" class="circle-btn icon dialpad-btn" number="8">8</a>
        <a ng-click="dtmf('9')" class="circle-btn icon dialpad-btn" number="9">9</a>
    </li>

    <li>
        <a ng-click="dtmf('8')" class="circle-btn icon dialpad-btn" number="*">*</a>
        <a ng-click="dtmf('0')" class="circle-btn icon dialpad-btn" number="0">0</a>
        <a ng-click="dtmf('#')" class="circle-btn icon dialpad-btn" number="#">#</a>
    </li>


</ul>