<div class="content bg-default" ng-controller="dialpadCtrl" id="dialpad">
	<div class="dialpad-form">

		<div class="card no-border dialpad-input bg-default">
			<a class="icon ion-ios-plus-outline pull-left input-number-btn"></a>
			<a ng-click="delLastNumber()" class="icon ion-backspace-outline pull-right input-number-btn"></a>
			<input ng-keyup="$event.keyCode == 13 && makeCall()" type="text" ng-model="number" class="input-number" placeholder="SIP uri">
		</div>

		<div  ng-include=" 'app/view/dialpadTemplate.html' ">

		</div>
	</div>

	<ul class="call-btn-group">
	    <li>
	        <button ng-disabled="execMakeCall" ng-click="makeCall()" class="btn circle-btn icon ion-ios-telephone call make-call"></button>
	    </li>
	</ul>
</div>