<div class="card no-border" >
    <form ng-controller="settingsCtrl" method="post">
        <input ng-model="settings.login" type="text" id="settingsLogin" placeholder="login">
        <input ng-model="settings.password" type="password" id="settingsPassword" placeholder="password">
        <input ng-model="settings.server" type="text" id="settingsServer" placeholder="server">
        <button ng-click="saveSettings()" id="saveSettings" type="submit" class="btn btn-positive btn-block">Save</button>
    </form>
</div>