<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Video call</title>
  <style type="text/css">

	body {
		color: purple;
		background-color: black; 
	}

	#remoteVideo {
		position: absolute; 
		width: 100%; 
		height: 100%;
	}

	#localVideo {
		background-color: red;
		position: fixed; 
		right: 0;
		bottom: 0;
		width: 20%;
	}
  </style>
</head>

	<body>
		<div> 

		</div>
		<div>
			<video id="remoteVideo"></video>
		</div>
		<div>
			<video id="localVideo"></video>
		</div>
	</body>
</html>
