<!DOCTYPE html>
<html >
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="lib/ratchet-v2.0.2/css/ratchet.min.css">
        <link rel="stylesheet" type="text/css" href="lib/ratchet-v2.0.2/css/ratchet-theme-ios.css">
        <link rel="stylesheet" type="text/css" href="lib/ionicons-2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body class="app" ng-app="vertoPhone"  id="phone" ng-show="isLoadApplication">
        <header class="bar bar-nav">
            <div class="segmented-control">
                <a ng-click="setViewCall(call)" ng-class="{'bg-success': call.state == 'active', 'bg-danger': call.state == 'held'}" class="control-item" ng-repeat="call in activeCalls">
                    <span class="h5">{{call.calleeIdNumber.substr(call.calleeIdNumber.length - 4)}}</span>
                </a>
            </div>

        </header>

        <nav ng-controller="navigate" class="bar bar-tab">

          <a ng-click="changeState(key, false, tab)" ng-repeat="(key, tab) in tabs" ng-class="{'active': key == activeTabName}" class="tab-item">
              <span ng-class="tab.class"></span>
              <span class="tab-label">{{tab.name}}</span>
          </a>

        </nav>
        <div ng-include="currentViewTemplate"></div>

        <video id="localVideo" style="display: none"></video>
        <video id="localTagVideo" style="display: none"></video>
        <video id="remoteVideo" style="display: none;"></video>

        <script type="text/javascript" src="lib/angular.js"></script>
        <script type="text/javascript" src="lib/ratchet-v2.0.2/js/ratchet.min.js"></script>
        <script type="text/javascript" src="app/services/callService.js"></script>
        <script type="text/javascript" src="app/ctrl/settingsCtrl.js"></script>
        <script type="text/javascript" src="app/ctrl/dialpadCtrl.js"></script>
        <script type="text/javascript" src="app/ctrl/callCtrl.js"></script>
        <script type="text/javascript" src="app/ctrl/contactsCtrl.js"></script>
        <script type="text/javascript" src="app/ctrl/historyCtrl.js"></script>
        <!--<script type="text/javascript" src="app/ctrl/chatCtrl.js"></script>-->
        <script type="text/javascript" src="app/app.js"></script>
    </body>
</html>