/**
 * Burger
 * Credit: Joren Van Hee - http://joren.co/sass-burger/
 */
/**
 * Select parts of the burger
 */
/**
 * Burger animations
 */
*, html {
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #e4e4e4;
}
body.overflow-hidden {
    overflow: hidden;
}

/**
 * Menu Button
 */
.menu-button {
    position: fixed;
    padding: 12px 10px;
    border-radius: 50px;
    margin-top: 8px;
    margin-right: 20px;
    margin-left: 0;
    top: 0;
    left: 17px;
    z-index: 30;
    transition: 1s;
    background: #e0603d;
    border: 2px solid #e0603d;
}
.menu-button span.close {
    position: relative;
    margin-top: 7px;
    margin-bottom: 7px;
}
.menu-button span.close, .menu-button span.close:before, .menu-button span.close:after {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.menu-button span.close:before, .menu-button span.close:after {
    position: absolute;
    content: "";
}
.menu-button span.close:before {
    top: -7px;
}
.menu-button span.close:after {
    top: 7px;
}
.menu-button.open {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    animation: fadeIn 1s;
    transform: translateX(220px);
    border: 2px solid #fff;
}
.menu-button.open span.close {
    background-color: transparent;
}
.menu-button.open span.close:before {
    -webkit-transform: translateY(7px) rotate(45deg);
    -moz-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -o-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
}
.menu-button.open span.close:after {
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -moz-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -o-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
}
.menu-button:hover {
    cursor: pointer;
}

/**
 * Navigaiton styles
 */
nav {
    float: left;
    width: 300px;
    position: fixed;
    height: 100%;
    z-index: 29;
}
nav header {
    float: left;
    width: 300px;
    background: #e0603d;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 1s;
    transform: translateX(-300px);
}
nav header.open {
    -webkit-animation: openNav 1s;
    -moz-animation: openNav 1s;
    animation: openNav 1s;
    transform: translateX(0px);
}
nav .posts {
    float: left;
    width: 300px;
    height: calc(100% - 60px);
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #252b3b url("http://i.imgur.com/6FZDa2v.png") repeat-y left 30px top;
    z-index: 3;
    transition: 1s;
    transform: translateX(-300px);
}
nav .posts.open {
    -webkit-animation: openNav 1s;
    -moz-animation: openNav 1s;
    animation: openNav 1s;
    transform: translateX(0px);
}
nav .posts .post {
    display: block;
    overflow: hidden;
    color: #fff;
    position: relative;
    font-family: 'Lato', sans-serif;
}
nav .posts .post:hover:after {
    width: 12px;
    height: 12px;
    left: 25px;
    margin-top: 1px;
}
nav .posts .post:before {
    content: "";
    position: absolute;
    left: 19px;
    top: 50%;
    height: 20px;
    width: 20px;
    background: #252b3b;
    margin-top: -5px;
    border: 2px solid #252b3b;
}
nav .posts .post:after {
    content: "";
    position: absolute;
    left: 28px;
    top: 50%;
    height: 6px;
    width: 6px;
    background: #fff;
    margin-top: 4px;
    border-radius: 6px;
    opacity: 0.4;
}
nav .posts .post.active:before {
    border: 2px solid #ffffff;
    border-radius: 20px;
}
nav .posts .post.active:after {
    opacity: 1;
}
nav .posts .post.active h1 {
    opacity: 1;
}
nav .posts .post.active p {
    opacity: 1;
}
nav .posts .post.active span.timestamp {
    opacity: 1;
}
nav .posts .post a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 25px 20px 15px 75px;
    position: relative;
    z-index: 20;
}
nav .posts .post a h1 {
    opacity: 0.4;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 0;
}
nav .posts .post a p {
    opacity: 0.4;
    font-size: 0.75rem;
    margin: 0;
}
nav .posts .post a span.timestamp {
    opacity: 0.4;
    font-size: 0.65rem;
    display: block;
    margin-top: 15px;
    text-align: right;
}

/**
 * Content Styles
 */
.content {
    float: left;
    width: 100%;
    height: 3000px;
    position: relative;
    transition: 1s;
}
.content .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

/**
 * Animation keyframes
 */
@-webkit-keyframes openNav {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0px);
    }
}
@-moz-keyframes openNav {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes openNav {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0px);
    }
}
@-webkit-keyframes moveContent {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(300px);
    }
}
@-moz-keyframes moveContent {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(300px);
    }
}
@keyframes moveContent {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(300px);
    }
}
